<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <title>header</title>
  <style>
    
  </style>
</head>

<body>

  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky" id="sidebar">
      <div class="list-group list-group-flush mx-3 mt-4">

        <img src="images/logo.jpeg" alt="logo">
              <ul class="list-unstyled" id="myDIV">
                <li class="nav-item bg-light">
                  <a class="nav-link" href="/hall"><i class="fas fa-university paddingRight_10"></i>Hall</a>
                </li>
                <li class="nav-item bg-light">
                  <a class="nav-link" href="/item"><i class="fas fa-utensils paddingRight_10"></i>Item</a>
                </li>
                <!-- <li class="nav-item bg-light">
                  <a class="nav-link" href="/menu"><i class="fas fa-border-all paddingRight_10"></i>Menu</a>
                </li> -->
                <li class="nav-item bg-light">
                  <a class="nav-link" href="/extraService"><i class="fas fa-concierge-bell paddingRight_10"></i>extraService</a>
                </li>
                <li class="nav-item bg-light">
                  <a class="nav-link" href="/reservationShow"><i class="fas fa-utensils paddingRight_10"></i>Reservation Show</a>
                </li>
                <li class="nav-item">
                  <details>
                    <summary style="padding: 0.5rem 1rem;border-radius: 999em;background-color: #f8f9fa;">Reports</summary>
                      <p><a class="nav-link bg-light" href="/report">Reservation Report</a></p>
                      <p><a class="nav-link bg-light" href="/dashboard">Kitchen Report</a></p>
                      <p><a class="nav-link bg-light" href="/waiterReport1">waiter Report</a></p>
                      <p><a class="nav-link bg-light" href="/paymentReport">Payment Report</a></p>
                  </details>
                </li>
                <!-- <li class="nav-item bg-light">
                  <a class="nav-link" href="/dashboard"><i class="fas fa-calendar-alt paddingRight_10"></i>Dashboard</a>
                </li> -->
              </ul>
            </div>
    </div>
  </nav>

  <script>
// var header = document.getElementById("myDIV");
// var btns = header.getElementsByClassName("nav-link");
// for (var i = 0; i < btns.length; i++) {
//   btns[i].addEventListener("click", function() {
//   var current = document.getElementsByClassName("active");
//   current[0].className = current[0].className.replace(" active", "");
//   this.className += " active";
//   });
// }

// $(document).ready(function(){
// var i=0;//get from storrage
// $("#myDIV li").eq(i).addClass('active');
// });

// $('#myDIV a').on('click', function(e) {
//   console.log("e ",e);
//   e.preventDefault();
//   $('#myDIV li a').removeClass('active');
//   $(this).addClass('active');
// })

  </script>

</body>

</html>