@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

.sidebar{
  position: sticky;
  top: 10px;
}

ul li a{
  border-radius: 50px;
}

.activeMenu{
  color: white;
  background-color: #2D3250;
  border-radius: 999em;
}

a{
  text-decoration: none;
  color: #000000;
}

.successMessage {
  background-color: green;
  color: white;
  text-align: center;
  padding: 2px 0;
}

h6 {
  background-color: red;
  color: white;
  text-align: center;
  padding: 2px 0;
}

h1{
  margin-bottom: 30px;
}

h5{
  font-size: 14px;
}

form{
  margin-bottom: 0;
}

table tr th{
  color: #a4a4a4;
  font-size: 14px;
}

table tr td{
  font-size: 15px;
}

.text-align-center{
  text-align: center;
}

.fa-edit{
  color: green;
}

.fa-trash-alt{
  color: red;
}

.paddingRight_10{
  padding-right: 10px;
}

.w-10{
  width: 10%;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20%;
}

.w-600{
  width: 600px !important;
}

label {
  width: 100px;
  display: inline-block;
}

.select-main {
  display: flex;
}

.w-45 {
  width: 300px !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.w-265{
  width: 260px;
}

::placeholder{
  font-size: 12px;
  color: #dedede;
}

/* textarea::placeholder{
  color: #000;
} */

.btn {
  transition: 0.5s;
}

.btn:hover {
  color: white;
  background-color: #222;
  transform: scale(1.1);
}

.addReservationBtn{
  color: #2D3250;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 24px 24px 0 24px;
  /* padding: 5px; */
}

li{
  border-radius: 999em;
  margin: 10px 0;
}

.bg-color{
  background-color: #676FF920;
  border-radius: 30px;
  margin: 50px 0;
  padding-bottom: 20px;
}

.padding{
  padding: 3px 30px 5px !important;
}

.button{
  background-color: #2D3250;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  /* line-height: 25px; */
  letter-spacing: 0.02em;
  width: 100px;
  cursor: pointer;
  text-align: center;
  padding: 2px 0 3px;
}

label{
  margin: 0;
}

textarea{
  resize: none;
  height: 65px;
  vertical-align: top;
  padding-left: 35px;
  width: 670px !important;
  border-radius: 10px !important;
}

input, textarea, select{
  background-color: #f5f5f5;
  border: none;
  border-radius: 50px;
  width: 600px;
  padding-left: 10px;
  padding-bottom: 5px;
  outline: none;
}

label{
  text-align: left;
  /* margin-right: 60px; */
}

.form-control{
  padding-bottom: 0px !important;
  padding: 27px;
  text-align: center;
  border: none;
  border-radius: 40px 40px 0 40px;
}

.table{
  border: none;
}

.resetBtn{
  background-color: #51577E;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
  font-size: 12px;
  margin-left: -30px;
  margin-right: 10px;
}

/* table scroll */
.scroll {
  overflow-y: scroll;
  height: 200px;
}
.scroll::-webkit-scrollbar {
  width:5px;
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px #2d3250; 
}

/* all scroll */
::-webkit-scrollbar {
  width:6px;
}
::-webkit-scrollbar-track {
  /* -webkit-box-shadow:inset #f1f1f1; */
  background-color: #d9d9d9;
  border-radius:10px;
  margin: 10px 0 5px;
}
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background-color: #2d3250;
}

/* modal scroll */

.scrollModal {
  overflow-y: scroll;
  height: 500px;
}
.scrollModal::-webkit-scrollbar {
  width:5px;
}
.scrollModal::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
.scrollModal::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px #2d3250; 
}

.wrapper {
  display: flex;
  align-items: center;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

a {
  color: #585858;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

/* kitchen report */

.d-flex{
  display: flex;
}

.text-center{
  text-align: center;
}

ul li{
  list-style: none;
  text-transform: capitalize;
}

.font-style{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 33.33%;
}

.font_hall{
  font-weight: bold !important;
}

.ul{
  background-color: #2d3250;
  border-radius: 22px;
  margin-top: 35px;
  position: relative;
}

.item{
  margin: 0 50px !important;
}

.bg_color{
  background-color: #fff;
  border-radius: 22px;
  padding-bottom: 7px;
}

hr{
  background-color: #fff;
  width: 80%;
  margin-top: 3px;
  margin-bottom: 0;
}

.i{
  font-size: 15px;
  text-align: center;
}

.i-box{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -9px;
  border: none;
  cursor: pointer;
}

@media(max-width:770px){
  .bg-color{
    width: 100% !important;
  }
}

/* item scroll */

.itemScroll {
  /* overflow-y: scroll; */
  height: auto;
}

.itemScroll::-webkit-scrollbar {
  width:6px;
}
.itemScroll::-webkit-scrollbar-track {
  /* -webkit-box-shadow:inset #f1f1f1; */
  background-color: #d9d9d9;
  border-radius:10px;
  margin: 10px 0 5px;
}
.itemScroll::-webkit-scrollbar-thumb {
  border-radius:10px;
  background-color: #2d3250;
}